<div class="d-none text-black-50 pt-2 justify-content-between align-items-end pb-2 mb-2 d-lg-flex d-xl-flex">
    <h1 class="display-4 ">{{ name }}</h1>
    <h4 class="" [style.color]="accentColor">{{ tagline }}</h4>
</div>
<div class="d-none text-black-50 pt-2 justify-content-between align-items-end pb-2 mb-2 d-sm-flex d-md-flex d-lg-none">
    <h3 class="font-weight-light ">{{ name }}</h3>
    <h6 class="" [style.color]="accentColor">{{ tagline }}</h6>
</div>
<div class="d-flex d-sm-none text-black-50 pt-2 justify-content-center pb-2">
    <h4 [style.color]="accentColor" class="font-weight-light text-center">{{ name }}</h4>
</div>
