<div *ngFor="let job of jobs;" class="m-2">
    <table class="table table-borderless table-sm" style="border-collapse: separate; border-spacing: 1rem 0em;">
        <thead class="lead">
            <th scope="col" class="col-4 text-right font-weight-light">
                <span>{{ job.startDate }}</span> &ndash; <span>{{ job.endDate }}</span>
            </th>
            <th scope="col" class="col-9">
                {{ job.company }}<span class="float-right font-weight-light">{{ job.city }}, {{ job.state }}</span>
            </th>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let role of job.roles;">
                <th class="font-weight-light text-right">{{ role.title }}</th>
                <td class="text-justified">{{ role.description }}</td>
            </tr>
        </tbody>
    </table>
</div>
